################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/qzsg-telegram-bot.njsproj
/bin
/obj
/.vs/ProjectSettings.json
/.vs
